/* //import google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Comforter&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Poppins',; */
    font-family: 'Baloo Bhaijaan 2', cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
        min-height: 100vh;
        background-color: rgb(200, 156, 242);
}
.wrapper{
    max-width: 600px;
    background-color: aliceblue;
    border-radius: 8px;

    padding: 20px 25px 15px;
}
header h1{
    font-size: 40px;
}
header p{
    margin-top: 3px;
    font-size: 18px;
    color: grey;
}
.inputs{
    margin: 20px 0 12px;
}
.inputs input{
    width: 100%;
    height: 52px;
    outline: none;
    font-size: 17px;
    padding: 0 17px;
    border-radius: 5px;
    border: 1px solid #999;
    /* text-align: center; */
    color: black;
    border-radius: 5px;
}
.inputs button{
    width: 100%;
    height: 52px;
    outline: none;
    border: none;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    border-radius: 5px;
    background:rgb(200, 156, 242);
    opacity: 7px;
} 
.inputs input:focus{
    box-shadow: 0 3px 6px rgb(0,0,0,0.15);
}
.inputs button.active{
    opacity: 1;
    pointer-events: auto;
}
.info-txt{
    text-align: center;
    padding: 6px;
    pointer-events: none;
    display: none;

}
.info-txt span {
    color: rgb(200, 156, 242);
    pointer-events: none;
}